doctype html
html(lang='en')
  head
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/sb-admin.css', rel='stylesheet')
    link(href='/stylesheets/profile.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/bootstrap-toggle.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/toastr.min.css', rel='stylesheet', type='text/css')
