<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Thunderdome</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown ">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object mail-image" src="/images/u.png" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Team @ Uber</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Welcome to Uber!</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object mail-image" src="/images/b.png" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Khoa Lam</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Welcome Rage!</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object mail-image" src="/images/e.png" alt="">
                                    </span>
                                    <div class="media-body mail-body">
                                        <h5 class="media-heading"><strong>Julie Tscheuschner</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Great to see you!</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown notification-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="label label-success notification_alert"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown notification-menu">
                    </ul>

                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Anurag Jain <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal" ><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#settingsModal" ><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i> Command Center</a>
                    </li>
                    <!-- <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li> -->

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Command Center <small>Overview</small>
                        </h1>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Select: </h3>
                            </div>
                            <div class="panel-body">
                                <button type="button" value="request" class="btn uber_button  btn-primary btn-lg btn-block">Request an Uber</button>
                                <button type="button" value = "schedule" class=" btn uber_button  btn-primary btn-lg btn-block">Schedule an Uber in 2 minutes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Activity</h3>
                            </div>
                            <div class="panel-body activity-feed">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Rides Scheduled</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                </div>
                                <!-- <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped transaction-table">
                                        <thead>
                                            <tr>
                                                <th>Pick-up</th>
                                                <th>Drop-Off</th>
                                                <th>Amount (USD)</th>
                                                <th>Duration (Min)</th>
                                            </tr>
                                        </thead>
                                        <tbody class="transaction-table-body">
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">User Profile</h4>
                </div> -->
                <div class="modal-body">
                        <!-- <button type="button" class="btn btn-default pull-right" data-dismiss="modal"></button> -->
                    	<div class="row">
                    		<div class="col-lg">

                                <div class="card hovercard">
                                    <div class="cardheader">
<!-- profile sample used from from http://scripteden.com/  thanks "https://plus.google.com/+ahmshahnuralam-->
                                    </div>
                                    <div class="avatar">
                                        <img alt="" src="https://scontent-lax3-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/11212738_10152979842172992_2512095029656200973_o.jpg">
                                    </div>
                                    <div class="info">
                                        <div class="title">
                                            <a target="_blank" href="">Anurag Jain</a>
                                        </div>
                                        <div class="desc">Inquisitive, Passionate</div>
                                        <div class="desc">Hard Working, Diligent</div>
                                        <div class="desc">Tech geek</div>
                                    </div>
                                    <div class="bottom">
                                        <a class="profile_btn btn btn-primary btn-twitter btn-sm" href="https://twitter.com/anurag4uin">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a class="profile_btn btn btn-danger btn-sm" rel="publisher"
                                           href="https://www.linkedin.com/in/anuragbjain">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a class="profile_btn btn btn-warning btn-sm" rel="publisher" href="www.anurag.xyz">
                                            <i class="fa fa-globe"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>

                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<div class="modal fade" id="settingsModal" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
    <div class="modal-body">
            <!-- <button type="button" class="btn btn-default pull-right" data-dismiss="modal"></button> -->
            <div class="row">
                <div class="col-lg">

                    <div class="card hovercard">
                        <div class="cardheader">
                            <label >
                              <input type="checkbox" checked data-toggle="toggle"> Notifications
                            </label>
                            <label >
                              <input type="checkbox" data-toggle="toggle"> Scheduler
                            </label>
                            <label >
                              <input type="checkbox" data-toggle="toggle"> Activity Feed
                            </label>

                        </div>
                    </div>

                </div>

        </div>
    </div>

</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
    <!-- /.modal -->
    <!-- jQuery -->
    <script src = "/javascripts/jquery.js"></script>
    <script src = "/javascripts/bootstrap.min.js"></script>
    <script src = "/javascripts/getstream.js"></script>
    <script src = "/javascripts/moment.min.js"></script>
    <script src = "/javascripts/subscribetoFeed.js"></script>
    <script src = "/javascripts/activity.js"></script>
    <script src = "/javascripts/uberRequests.js"></script>
    <script src="/javascripts/bootstrap-toggle.min.js"></script>
    <script src = "/javascripts/moment-timezone.js"></script>
    <script src="/javascripts/toastr.min.js"></script>

    <script src = "/javascripts/app.js"></script>

<script type="text/javascript">
(function(){
        var url = 'https://'+location.host+'/v1';
        var notification = '/notification/';
        var stream = '/stream/';
        var transactions = '/transaction/';
        var schedule = '/schedule/';
        var user_id = '1';
        moment.tz.setDefault("America/Los_Angeles");
       app(url,notification,stream,transactions,schedule,user_id);

})();

</script>



</body>

</html>
